@color-primary: #005da0;

.toc li:first-child ul a + .sub-menu {
  display: none;
}

.document-formatting > table {
  text-align: left;
  width: 70%;
  thead {}
  th, td {
    border: 1px solid #ddd;
    padding: 6px 13px;
  }
  th {
    border: 1px solid #ddd;
    padding: 6px 13px;
    text-transform: uppercase;
  }
  tbody {}
  tr {
    
  }
  td {
    border: 1px solid #ddd;
    padding: 6px 13px;
  }
  tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
}

logo-subbrand {
  margin-left: -40px;
}

code {
  olor: #333 !important;
  olor: #005da0 !important;
  
  ackground: #F7F9FA !important;
  order: 1px solid #DBE3E7 !important;
  border-radius: 4px;
  olor: #05A972 !important;
  color: #005da0 !important;
}


.document-formatting .h2 {
  font-size: 28px;
  line-height: 1;
  font-weight: 700;
  color: #444;
  margin-bottom: 1rem;
}

.h3 {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  color: #444;
  margin-bottom: .25rem;
}