// Grabbed from legacy docs theme
.gutter pre {
  color: #ddd;
}

pre {
  color: @color-darkest;

  .function .keyword,
  .constant {
    color: #0092db
	}

  .keyword,
  .attribute {
    color: #e96900
	}

  .number,
  .literal {
    color: #009999
	}

  .tag,
  .tag .title,
  .change,
  .winutils,
  .flow,
  .lisp .title,
  .clojure .built_in,
  .nginx .title,
  .tex .special {
    color: #2973b7
	}

  .class .title {
    color: #4077BF
	}

  .symbol,
  .symbol .string,
  .value,
  .regexp {
    color: #90a959
	}

  .title {
    color: #A6E22E
	}

  .tag .value,
  .string,
  .subst,
  .haskell .type,
  .preprocessor,
  .ruby .class .parent,
  .built_in,
  .sql .aggregate,
  .django .template_tag,
  .django .variable,
  .smalltalk .class,
  .javadoc,
  .django .filter .argument,
  .smalltalk .localvars,
  .smalltalk .array,
  .attr_selector,
  .pseudo,
  .addition,
  .stream,
  .envvar,
  .apache .tag,
  .apache .cbracket,
  .tex .command,
  .prompt,
  .ag {
    // color: @color-primary;
    color: #dd1144;
	}

  .comment,
  .java .annotation,
  .python .decorator,
  .template_comment,
  .pi,
  .doctype,
  .deletion,
  .shebang,
  .apache .sqbracket,
  .tex .formula {
    color: @color-mediumdark;
	}

  .coffeescript .javascript,
  .javascript .xml,
  .tex .formula,
  .xml .javascript,
  .xml .vbscript,
  .xml .css,
  .xml .cdata {
    opacity: 0.5
	}
}
